@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

body {
    margin: 0;
    padding: 0; 
    font-family: 'Rubik', sans-serif;
}

.container {
    width: 100%;
    height: 100vh; 
    background-color: turquoise;
    position: relative;
}

.calendar-box {
    width: 400px;
    height: 425px;
    border: 1px solid black;
    background-color: white;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}

#head-date {
    width: 100%;
    height: 75px;
    background-color: #0000ff;
    color: #ffffff;
    display: inline-flex;
    justify-content: center;
}

#head-date span {
    font-size: 1.6rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

#todays-date {
    width: 80%;
    padding: 0;
    margin: 0;
    text-align: center;
}

#todays-date {
    letter-spacing: 0.1rem;
}

#todays-date h1 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0.8rem 0 0.4rem;
    
}

#todays-date p {
    margin:0;
    padding: 0 0 0.4rem;
}

#days-wrapper {
    width: 100%;
    height: 3.125em;
    display: flex;
    align-items: center;
}

.days {
    width: calc(100% / 7);
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.07rem;
}

#dates-container {
    width: 100%;
    height: 18.75em;
    display: flex;
    flex-wrap: wrap;
}

.each-date {
    width: calc(100% /7);
    height: 3.125em;
    display: flex;
    align-items: center;
    justify-content: center; 
}