@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

/* by default body has a margin and padding. I set both to 0 at the beginning of any project*/
body {
    margin: 0;
    padding: 0; 
    font-family: 'Rubik', sans-serif;
}

.container {
    width: 100%;
    height: 100vh; 
    background-color: turquoise;
    position: relative;
}

/* center the calendar in the middle of the page */
.calendar-box {
    width: 25em;
    height: 27em;
    border: 1px solid black;
    background-color: white;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}

/* Add a header to the box */
#head-date {
    width: 100%;
    height: 75px;
    background-color: #0000ff;
    color: #ffffff;
    display: inline-flex;
    justify-content: center;
}

#head-date span {
    font-size: 1.6rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

#todays-date {
    width: 80%;
    padding: 0;
    margin: 0;

    letter-spacing: 0.1rem;
    text-align: center;
}

#todays-date h1 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0.8rem 0 0.4rem;    
}

#todays-date p {
    margin:0;
    padding: 0 0 0.4rem;
}

#days-wrapper {
    width: 100%;
    height: 3.125em;
    display: flex;
    align-items: center;
}

.days {
    width: calc(100% / 7);
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.07rem;
    color: rgba(32, 32, 32, 1);
}

#dates-container {
    width: 100%;
    height: 18.75em;
    display: flex;
    flex-wrap: wrap;
}

.each-date {
    width: calc(100% /7);
    height: 3.125em;
    display: flex;
    align-items: center;
    justify-content: center; 
    color: rgba(32, 32, 32, 1);
}

.faded-dates {
    color: rgba(32,32,32,0.5);
}