@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

body {
    margin: 0;
    padding: 0; 
    font-family: 'Rubik', sans-serif;
}

.container {
    width: 100%;
    height: 100vh; 
    background-color: turquoise;
    position: relative;
}

.calendar-box {
    width: 400px;
    height: 425px;
    border: 5px solid black;
    background-color: white;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}

